<launch>
    <!-- Define map paths -->
    <arg name="map_pgm" default="/home/morais/turtle_ws/src/turtlebot_mcl/maps/real/mapa_2.pgm" />
    <arg name="map_yaml" default="/home/morais/turtle_ws/src/turtlebot_mcl/maps/real/mapa_2.yaml" />
    <arg name="csv" default="/home/morais/turtle_ws/src/turtlebot_mcl/csv/micro_simulator/rmse_data.csv" />

    <!-- Run Microsimulador_MCL.py with specified num_particles parameter -->
    <node name="Microsimulador_MCL_node" pkg="turtlebot_mcl" type="Microsimulador_MCL.py" output="screen">
        <param name="map_path_pgm" value="$(arg map_pgm)" />
        <param name="map_path_yaml" value="$(arg map_yaml)" />
        <param name="num_particles" value="1000" />
        <param name="sigma" value="40" />
        <param name="alpha_fast" value="0.05" />
        <param name="alpha_slow" value="0.001" />
    </node>

    <!-- Run MSgraphs1.py -->
    <node name="MSgraphs1_node" pkg="turtlebot_mcl" type="MSgraphs1.py" output="screen">
        <param name="map_path_pgm" value="$(arg map_pgm)" />
        <param name="map_path_yaml" value="$(arg map_yaml)" />
    </node>

    <!-- Run MSgraphs2.py -->
    <node name="MSgraphs2_node" pkg="turtlebot_mcl" type="MSgraphs2.py" output="screen">
        <param name="map_path_pgm" value="$(arg map_pgm)" />
        <param name="map_path_yaml" value="$(arg map_yaml)" />
        <param name="csv_path" value="$(arg csv)" />
    </node>
</launch>
